<div [@nextSong]="isIn ? 'in' : 'out'" *ngIf="!errorMessage; else error;">
  <div class="title">Your song of the day is...</div>
  <div class="card">
    <a href="{{spotify_link}}">
      <img class="track-cover" src="{{image_link}}" alt="loading...">
    </a>
    <div class="features">
      <ul>
        <div *ngIf="long_song; else regular">
          <li class="long-song">{{song}}</li>
        </div>
        <ng-template #regular>
          <li class="song-title">{{song}}</li>
        </ng-template>
        <li class="song-artist">{{artist}}</li>
      </ul>
    </div>
    <a href="{{spotify_link}}" class="btn">Check it out!</a>
  </div>
  <div class="text-center arrow-container" (click)="nextSong()">
      <span id="scroll-icon">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
  </div>
</div>
<ng-template #error>
  <h3 class="error-message">{{errorMessage}}</h3>
  <h3 class="error-message">An error occurred.</h3>
  <h3 class="error-message">Please check if you have a valid Spotify Premium account.</h3>
  <button class="btn btn-primary mx-auto error-button" type="submit" (click)="back()">
    <span>Go Back</span>
  </button>
</ng-template>
