@import url(https://fonts.googleapis.com/css?family=Varela+Round);

// Colors
$color-one: #fff;
$color-two: #383A3F;
$color-three: #2fa305;
$color-four: #41e505;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $color-two;
  font-family: "Varela Round", sans-serif;
}

.title {
  margin-top: 2.5vh;
  color: white;
  font-size: 3.5vw;
  @media (max-width: 768px) {
    margin-top: 2vh;
    font-size: 2rem;
  }
  @media (max-height: 600px) {
    font-size: 1.5rem;; //for extra small screens
  }
  @media (min-width: 1700px) {
    font-size: 3vw;; //if the screen is huge
  }
  text-align: center;

  //animation code below
  position: relative;
  opacity: 0;
  -webkit-animation: slideUp 1.5s forwards;
  -moz-animation: slideUp 1.5s forwards;
  animation: slideUp 1.5s forwards;
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s;
  animation-delay: .25s;

  @-webkit-keyframes slideUp {
    0% {
      transform: translateX(25px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @-moz-keyframes slideUp {
    0% {
      transform: translateX(25px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(25px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.track-cover {
  border-radius: 2px;
  width: 350px;
  height: 350px;
  @media (max-width: 768px) {
    width: calc(100%);
    height: calc(100%);
  }
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

.song-title {
  font-size: 2.4vw;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1700px) {
    font-size: 2vw; //if the screen is huge
  }

}

.long-song {
  font-size: 1.5vw;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 1.0rem;
  }
}


.card {
  border-radius: 5px;
  margin: 2.5vh auto;
  width: 390px;
  padding: 20px;
  text-align: center;
  color: white;
  @media (max-width: 768px) {
    width: calc(100% - 40px);
  }
  .features {
    ul {
      color: black;
      padding: 0;
      margin: 18px 0 30px 0;
      @media (max-width: 450px) {
        margin: 15px 0 20px 0; //for small screens
      }
      list-style-type: none;
      li {
        margin: 10px 0;
      }
    }
  }
  .btn {
    display: block;
    background: $color-four;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:hover {
      background: $color-three;
    }
  }

  //animation code below
  position: relative;
  opacity: 0;
  -webkit-animation: pulse-in 1s forwards;
  -moz-animation: pulse-in 1s forwards;
  animation: pulse-in 1s forwards;
  -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  animation-delay: 1.75s;

  @-webkit-keyframes pulse-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes pulse-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes pulse-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.error-message {
  color: white;
  margin: 3vh auto;
  text-align: center;
}

.error-button {
  width: 50%;
  display: flex;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.arrow-container {
  position: relative;
  opacity: 0;
  -webkit-animation: pulse-in 1s forwards;
  -moz-animation: pulse-in 1s forwards;
  animation: pulse-in 1s forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.fa-chevron-up {
  color: ghostwhite;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 10vh;
  @media (max-width: 450px) {
    margin-top: 1.5vh; //for small screens
  }

  display: inline-block;

  position: relative;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  animation: pulse 2s infinite;

  @-webkit-keyframes pulse {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @-moz-keyframes pulse {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pulse {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}

.fa-chevron-down {
  color: ghostwhite;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;

  position: relative;
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.up-arrow-invisible {
  visibility: hidden;
}

.playlist-button {
  margin-top: -2vh;
  @media (max-width: 768px) {
    margin-top: -4vh;
  }
  span {
    font-weight: 500;
    line-height: 2.5;
  }
}