<div class="login-container" *ngIf="accessToken; else start">
  <div class="error" *ngIf="error; else sw">
    <h2 class="mx-auto error-text">{{accessToken}}</h2>
    <button class="btn btn-primary mx-auto error-button" type="submit" (click)="back()">
      <span>Go Back</span>
    </button>
  </div>
  <ng-template #sw>
    <ng-song-widget [authToken]="accessToken">
    </ng-song-widget>
  </ng-template>
</div>

<ng-template #start>
  <div class="login-container">
    <div class="login-box">
      <div id="login-text">
        <h2 style="color: white" >Welcome to</h2>
        <h1 class="title" >Song of the Day</h1>
      </div>
      <div id="login">
        <h6 class="d-inline-block" style="color: white">v{{ version }}</h6>
        <div class="container">
          <div class="card col-md-6 mt-3 mx-auto">
            <div class="card-body">
              <h4 class="card-title text-center">
                <img class="logo" src="assets/spotify.png">
              </h4>
              <button class="btn btn-primary w-100 login-button" type="submit" (click)="login()">
                <span>Login with Spotify</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary w-100 login-button" type="submit" (click)="query()">
        <span>Test me pls</span>
      </button>
      <a class="premium">* requires premium</a>
      <a class="privacy" href="https://github.com/mhisle22/spotifysongoftheday/blob/efe837df7c532ed2788fafabe9885677f4bb05fd/privacy_policy.md">Privacy Policy</a>
    </div>
  </div>
</ng-template>
