/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// 3rd party libraries
@use "./node_modules/bootstrap/scss/bootstrap";
@use "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@use "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
}
